[Unit]
Description=The PHP FastCGI Process Manager
After=syslog.target network.target
RequiresMountsFor=/data
Before=httpd24-httpd.service

[Service]
Type=notify
EnvironmentFile=/etc/opt/rh/rh-php71/sysconfig/php-fpm
ExecStart=/opt/rh/rh-php71/root/usr/sbin/php-fpm --nodaemonize
ExecReload=/bin/kill -USR2 $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target

